<!doctype html>
{% load static %}
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>My base html page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
  </head>
  <body style="margin:3%">
  <div class="nav1">
    <a href="http://localhost:8000/noteit/notes" class="title3">
        <h1 class="nav2 title3">noteit:_the_notes_app</h1>
    </a>
    <div class="nav3">
        <p class="nav4">User: {{ user.username }} <span class="nav6">x</span> <span class="nav7">|</span></p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="nav5" type="submit">logout</button>
        </form>
    </div>

  </div>
  {% if user.is_authenticated %}
    {% block content %}{% endblock %}
  {% else %}
    {% block content2 %}{% endblock %}
  {% endif %}
  </body>
</html>

