<!doctype html>
{% load static %}
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>My base html page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body class="m-2" style="margin:3%">
  <div class="nav1 row m-2">
    <div class="col-5" style="margin:2%">
        <a href="http://localhost:8000/noteit/notes" class="title3">
            <h1 class="nav2 title3 h1">noteit:_the_notes_app</h1>
        </a>
    </div>
    <div class="nav3 col-3 mt-2 pb-0">
        <p class="nav4 pt-3" style="font-size:small">User: {{ user.username }} <span class="nav6">x</span> <span class="nav7">|</span></p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="nav5" style="font-size:small" type="submit">logout</button>
        </form>
    </div>

  </div>
  {% if user.is_authenticated %}
    {% block content %}{% endblock %}
  {% else %}
    {% block content2 %}{% endblock %}
  {% endif %}
  </body>
</html>

{% block scripts %}
    <script>
        let delete_buttons = document.querySelectorAll(".delete-btn1");
        delete_buttons.forEach(button => {
            console.log("button", button);
            button.addEventListener("click", function(){
                let confirmation = confirm(`Are you sure you want to delete this item?`);
                if (confirmation) {
                    let form = this.closest("form");
                    form.submit();
                }
            });
        });
    </script>
{% endblock %}

