{% extends 'noteit/base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">New Note</button>
</form>
<div>
    <h3>recent_notes:</h3>
    {% if folder_note_list %}
        <table class="table1">
            <tr>
                <th>title</th>
                <th></th>
                <th>content</th>
                <th></th>
                <th>updated</th>
                <th></th>
                <th>created</th>
            </tr>
        {% for note in folder_note_list %}
            <tr >
                <th class="row1">
                    <li style="text-align: left;">
                        <a href="{% url 'noteit:results' note.id %}" style="text-decoration: none;">{{ note.title }}</a></th>
                    </li>
                </th>
                <th class="row1">
                    <li style="list-style: none">
                        <span style="visibility: hidden"> --- </span>
                        <span class="dots1">...</span>
                        <span style="visibility: hidden"> --- </span>
                    </li>
                </th>
                <th class="row1" style="list-style: none; text-align: left; font-weight: 200;">
                    {{ note.content }}
                </th>
                <th class="row1">
                    <li style="list-style: none">
                        <span style="visibility: hidden"> --- </span>
                        <span class="dots1">...</span>
                        <span style="visibility: hidden"> --- </span>
                    </li>
                </th>
                <th class="row1">
                    <span style="font-size:smaller; font-weight: 200;"> {{note.updated_at|date:"n-j-y"}}
                    </span>
                </th>
                <th class="row1">
                    <li style="list-style: none">
                        <span style="visibility: hidden"> --- </span>
                        <span class="dots1">...</span>
                        <span style="visibility: hidden"> --- </span>
                    </li>
                </th>
                <th class="row1">
                    <span style="font-size:smaller; font-weight: 200;"> {{note.created_at|date:"n-j-y"}}
                </th>
            </tr>
        {% endfor %}
        </table>
        <div>
            <h3>tags:</h3>
        </div>
    {% else %}
        <p>No notes are available.</p>
    {% endif %}
</div>

{% endblock %}


